@import "main";

.registration-content {
  border: 2px solid #1ca381;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 500px;

  &__title {
    color: #254789;
    padding: 2rem;
    text-align: center;
  }

  &__form {
    width: 300px;
  }
}
