<app-spinner-overlay *ngIf="this.isLoading"></app-spinner-overlay>
<section class="content-center">
  <div class="registration-content">
    <div *ngIf="this.isNewRegister; else registerConfirmation">
      <div class="registration-content__title">
        <h2>{{ 'registration.create_your_account' | transloco }}</h2>
      </div>
      <div class="registration-content__form">
        <app-registration-form (formSubmitEvent)="this.onSubmit($event)"></app-registration-form>
      </div>
    </div>
    <ng-template #registerConfirmation>
      <div class="registration-content__title">
        <h2>{{ 'registration.congratulations_you_are_subscribed' | transloco }}!</h2>
      </div>
      <div class="registration-content__success__message">
        <p>{{ 'registration.welcome' | transloco }} {{ this.userName }}</p>
        <br>
        <p>{{ 'registration.thanks_message' | transloco }}</p>
        <br>
        <p>{{ 'registration.success_message' | transloco }}</p>
      </div>
      <div class="registration-content__links">
        <a [routerLink]="['/signin']">{{ 'registration.enter_the_system' | transloco }}</a>
      </div>
    </ng-template>
  </div>
</section>
