<section class="content-center">
  <div class="content-sign-up confirmation-content">
    <div *ngIf="this.isToken; else invalideToken">
      <div *ngIf="this.isLoading; else activationMessage">
        <div class="content-sign-up__title">
          <h2>
            {{ 'confirmation.activating_your_account' | transloco }}
          </h2>
        </div>
        <div class="content-sign-up__message confirmation-content__spinner">
          <mat-spinner></mat-spinner>
        </div>
      </div>
      <ng-template #activationMessage>
        <div *ngIf="this.isActivated; else expirationToken">
          <div class="content-sign-up__title">
            <h2>
              {{ 'confirmation.congratulations_account_activated' | transloco }}
            </h2>
          </div>
          <div class="content-sign-up__message">
            <p>
              {{ 'confirmation.welcome_message' | transloco }}
            </p>
            <br />
            <p>
              {{ 'confirmation.account_message' | transloco }}
            </p>
          </div>
          <div class="content-sign-up__links">
            <a [routerLink]="['/signin']">{{
              'confirmation.enter_the_system' | transloco
            }}</a>
          </div>
        </div>
        <ng-template #expirationToken>
          <div class="content-sign-up__title">
            <h2>
              {{ 'confirmation.expiration_activation_token' | transloco }}
            </h2>
          </div>
          <div class="content-sign-up__message">
            <p>
              {{ 'confirmation.expiration_message' | transloco }}
            </p>
          </div>
          <div class="content-sign-up__links">
            <a [routerLink]="['/sign-up/expiration/resend-activation-token']">{{
              'confirmation.resend_activation_token' | transloco
            }}</a>
          </div>
        </ng-template>
      </ng-template>
    </div>
    <ng-template #invalideToken>
      <div class="content-sign-up__title">
        <h2>
          {{ 'confirmation.invalid_activation_token' | transloco }}
        </h2>
      </div>
      <div class="content-sign-up__message">
        <p>
          {{ 'confirmation.invalid_message' | transloco }}
        </p>
      </div>
      <div class="content-sign-up__links">
        <a [routerLink]="['/sign-up/expiration/resend-activation-token']">{{
          'confirmation.resend_activation_token' | transloco
        }}</a>
      </div>
    </ng-template>
  </div>
</section>
