<form [formGroup]="this.registrationForm" (ngSubmit)="this.onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'registration.name' | transloco }}</mat-label>
    <input
      maxlength="45"
      matInput
      placeholder="{{ 'registration.enter_your_name' | transloco }}"
      formControlName="name"
      required
    />
    <mat-icon matSuffix>person</mat-icon>
    <mat-error *ngFor="let validation of this.validatorMessages.name">
      <mat-error
        *ngIf="
          this.registrationForm.get('name')?.hasError(validation.type) &&
          (this.registrationForm.get('name')?.dirty ||
            this.registrationForm.get('name')?.touched)
        "
        >{{ validation.message | transloco }}
      </mat-error>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'registration.email' | transloco }}</mat-label>
    <input
      maxlength="45"
      matInput
      placeholder="{{ 'registration.enter_your_email' | transloco }}"
      formControlName="email"
      required
    />
    <mat-icon matSuffix>alternate_email</mat-icon>
    <mat-error *ngFor="let validation of this.validatorMessages.email">
      <mat-error
        *ngIf="
          this.registrationForm.get('email')?.hasError(validation.type) &&
          (this.registrationForm.get('email')?.dirty ||
            this.registrationForm.get('email')?.touched)
        "
        >{{ validation.message | transloco }}
      </mat-error>
    </mat-error>
  </mat-form-field>
  <div formGroupName="passwordMatch">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'registration.password' | transloco }}</mat-label>
      <input
        maxlength="20"
        matInput
        placeholder="{{ 'registration.create_your_password' | transloco }}"
        formControlName="password"
        [type]="this.hidePassword ? 'password' : 'text'"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="this.hidePassword = !this.hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="this.hidePassword"
      >
        <mat-icon>{{
          this.hidePassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
      <mat-error *ngFor="let validation of this.validatorMessages.password">
        <mat-error
          *ngIf="
            this.registrationForm
              .get('passwordMatch.password')
              ?.hasError(validation.type) &&
            (this.registrationForm.get('passwordMatch.password')?.dirty ||
              this.registrationForm.get('passwordMatch.password')?.touched)
          "
          >{{ validation.message | transloco }}
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'registration.password' | transloco }}</mat-label>
      <input
        maxlength="15"
        matInput
        placeholder="{{ 'registration.repeat_your_password' | transloco }}"
        formControlName="confirm_password"
        [type]="this.hideConfirmPassword ? 'password' : 'text'"
        required
        [errorStateMatcher]="this.match"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="this.hideConfirmPassword = !this.hideConfirmPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="this.hidePassword"
      >
        <mat-icon>{{
          this.hideConfirmPassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
      <mat-error
        *ngFor="let validation of this.validatorMessages.confirm_password"
      >
        <mat-error
          *ngIf="
            this.registrationForm
              .get('passwordMatch')
              ?.hasError(validation.type)
          "
          >{{ validation.message | transloco }}
        </mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="registration-form__terms">
    <mat-checkbox color="primary" formControlName="terms">{{
      'registration.accept_terms' | transloco
    }}</mat-checkbox>
  </div>
  <div class="registration-form__actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="this.registrationForm.invalid"
    >
      {{ 'registration.sign_up' | transloco }}
    </button>
  </div>
</form>
