.mat-form-field {
  width: 300px;
  padding-bottom: 30px;
}

.registration-form {
  &__terms {
    margin: 0 0 2rem 0;
  }

  &__actions {
    float: right;

    .mat-raised-button {
      width: 150px;
    }
  }
}
